html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    font-weight: 400;
    box-sizing: border-box;
}

h1,
h2,
a,
p {
    letter-spacing: -0.03em;
}

.nav_section,.start,.project_list, .contacts, .feedback{
    width: 1150px;
    margin: 0 auto; 
margin-bottom: 150px;
}

h1 {
    margin-bottom: 30px;
    /* width: 956px; */
    height: 120px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

h2 {
    margin-bottom: 30px;
    color: #121212;
    font-size: 18px;
    line-height: 25px;
}

.mainphoto {
    position: relative;
    background-image: url(../resources/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    width: 100%;
    height: 500px;
    margin-bottom: 150px;
}

.whoweare {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    width: 430px;
    height: 81px;
    bottom: 40px;
    left: 40px;
}

.about {
    color: #121212;
    width: 1048px;
    /* height: 366px; */
    font-size: 45px;
    line-height: 62px;
    margin-bottom: 30px;
}

.services_link {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ad1818;
    background-color: #ad1818;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: #ffffff;
}

.services_link:hover {
    color: #ad1818;
    background-color: #ffffff;
}

.projects__description {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
}

.projects__ref {
    font-size: 20px;
    line-height: 27px;
    color: #ad1818;
    text-decoration: none;
}

.project_element {
    margin-bottom: 88px;
}

.full_list {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #AD1818;
    cursor: pointer;
}

.full_list:hover {
    background: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.service_list {
    background-color: #121212;
}
.service_container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 150px 0 90px 0;
}

.services {
    color: #ffffff;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}

.offers {
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    row-gap: 81px;
   }


.offers_photo {
    height: 388px;
    width: 100%;
    margin-bottom: 25px;
   }
.service_item {
    position: relative;
    width: calc(50% - 5px);
}
.service_price{
    position: absolute;
    padding: 5px 20px;
    left:30px;
    top:32px;
    border: 1px solid #AD1818;
    background: #AD1818;
    border-radius: 5px;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.offers_description {
    color: #ffffff;
    width: 350px;
    font-size: 30px;
    line-height: 41px;
}
.order{
    display: block;
    width: 100%;
    height: 153px;
    padding: 56px;
    border: 1px solid #AD1818;
    background: #AD1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.nav_section {
    margin-bottom: 70px;
}

.nav_container {
        padding-top: 33px;
}

.logo_link {
    display: inline-block;
}

.logo {
    display: block;
    width: 127px;
    height: 21px;
    color: #121212;
}

.nav {
    float: right;
    height: 25px;
}

.nav__link {
    display: inline-block;
    color: #121212;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    margin-right: 58px;


}

.nav__link:hover,.footer__link:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.nav__link:nth-last-child(1), .footer__link:nth-last-child(1) {
    margin-right: 0;
}
.fullscreen{
    position: relative;
    height: 717px;
    background-image: url('../resources/fullscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.landscape{
    position: absolute;
    bottom: 58px;
    left: 125px;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

.contacts{
    margin-bottom: 162px;
    padding-top: 190px;
}

.contact {
    position: relative;
    margin: 0 auto;
      margin-bottom: 30px;
      line-height: 21px;

}
.contact:before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%; 
    bottom: 35px; 
    background-image: url('../resources/contact_phone.png');
}
.tel_number {
    margin-bottom: 30px;
}
.number_link{
     font-weight: 400;
font-size: 60px;
line-height: 60px;
color: #121212;
text-decoration: none;
margin-bottom: 30px;
letter-spacing: -0.01em;
}
.email_link {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
    text-decoration: none;
    border-bottom:2px solid #121212;
}
.email{
    margin-bottom: 20px;
}
.footer_container{
    box-sizing: border-box;
    height: 229px;
    background-color: #121212;
    padding-top: 60px;
}
.footer_nav{
    width: 457px;
    margin: 0 auto;
}
.footer__link{
    font-size: 18px;
line-height: 25px;
text-decoration: none;
color: #FFFFFF;
margin-right: 52px;
}
.signature{
    margin-top: 87px;
    text-align: center;
    font-size: 20px;
line-height: 27px;
color: #FFFFFF;
opacity: 0.5;
}
.feedback_wrapper{
    margin: 150px 0;
}
.feedback_row{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback_column{
    width: calc(50% - 25px);
    margin-bottom: 80px;
}
.feedback_column_wide{
    width: 75%;
}
.feedback_title{
    margin-bottom: 14px;
    font-size: 45px;
line-height: 61px;
color: #000000
}
.feedback_story{
    font-size: 22px;
line-height: 30px;
color: #000000
}
@media (max-width: 1199px) {
   .start, .project_list, .feedback{
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 120px;
    width:100%;
    box-sizing: border-box;
    }
    h1{
        font-size: 50px;
        width: 802px;
    }
    h2{
        margin-bottom: 30px;
    }
    .mainphoto {
        width: 100%;
        margin-bottom: 120px;
        height: 400px;
    }
    .whoweare{
    bottom: 30px;
        }
    .about{
            width: 690px;
            font-size: 35px;
            line-height: 48px;
        }
        .service_container{
            max-width: 100%;
            padding: 80px 21px 120px 21px;
            margin: 0 auto;
        }    
    .project_photo {
        width:100%;
    }
    
.projects__description {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
}

.project_element {
    margin-bottom: 80px;
}

.offers_photo {
    height: 315px;
    width: 100%;
    margin-bottom: 15px;
   }
.feedback_wrapper{
    margin: 120px 0;
}


.feedback_title{
    margin-bottom: 25px;
    font-size: 35px;
line-height: 48px;
color: #000000
}
.feedback_story{
    font-size: 20px;
line-height: 27px;
color: #000000
}
}
@media (max-width: 820px) {
    .start, .project_list{
        width:100%;
        margin: 0 auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 80px;
        box-sizing: border-box;
    } 
    
    h1{
        margin-bottom: 25px;
        width:348px;
        height: 95px;
        font-size: 30px;
        line-height: 32px;
    }
    
    h2{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
    .mainphoto {
        width: 100%;
        height: 304px;
    margin-bottom: 80px;}

    .whoweare{
        width: 312px;
        height: 88px;
        left: 28px;
        bottom: 15px;
        font-size: 16px;
        line-height: 22px;
    }
    .about{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 30px;
        }
    .services_link{
        padding: 15px;
        line-height: 22px;
        width: 194px;
        height: 51px;
        font-size: 16px;
        border-radius: 4px;
        text-align: center;
    }    
    .project_photo {
        width:100%;
        height: 250px;
    }
    
.projects__description {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
}

.project_element {
    margin-bottom: 49px;
}
.full_list{
    font-size: 22px;
line-height: 30px;
padding: 37px;
}
.service_container{
    max-width: 100%;
    padding: 80px 21px;
    margin: 0 auto;
}
h2{
    font-size: 14px;
line-height: 19px;
}

   .offers_photo {
    height: 240px;
    width: 100%;
    margin-bottom: 10px;
}
.service_item {
    position: relative;
    width: 100%;
margin-bottom: 60x;
}
.service_price{
    position: absolute;
    padding: 5px 24px;
    left:23px;
    top:24px;
    border: 1px solid #AD1818;
    background: #AD1818;
    border-radius: 3px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.offers_description {
    color: #ffffff;
    /* width: 350px; */
    font-size: 18px;
    line-height: 25px;
}
.order{
    display: block;
    width: 100%;
    height: 153px;
    padding: 56px;
    border: 1px solid #AD1818;
    background: #AD1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.feedback_wrapper{
    margin: 80px 0;
}
.feedback_row{
    margin-top: 22px;
}

.feedback_column{
    width: 100%;
}
.feedback_column_wide{
    width: 100%;
}

.feedback_title{
    margin-bottom: 10px;
    font-size: 25px;
line-height: 34px;
color: #000000
}
.feedback_story{
    font-size: 16px;
line-height: 22px;
color: #000000
}
}
