body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h1,
h2,
a,
p {
    letter-spacing: -0.03em;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

h1 {
    color: #121212;
    width: 956px;
    height: 120px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;

}

h2 {
    color: #121212;
    font-size: 18px;
    line-height: 24.59px;
    margin-bottom: 30px;
}

.mainfoto {
    position: relative;
    background-image: url(../resources/main.png);
    width: 1150px;
    height: 500px;
    margin-bottom: 150px;
    background-repeat: no-repeat;

}

.whoweare {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    width: 430px;
    height: 81px;
    bottom: 40px;
    left: 40px;
}

.about {
    color: #121212;
    width: 1048px;
    height: 366px;
    font-size: 45px;
    line-height: 61.47px;
    margin-bottom: 30px;
}

.services {
    display: block;
    margin-bottom: 150px;
    border: 1px solid #ad1818;
    background-color: #ad1818;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: #ffffff;
}

.services:hover {
    color: #ad1818;
    background-color: #ffffff;
}


.projects__description {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 15px;
}

.projects__ref {
    font-size: 20px;
    line-height: 27px;
    color: #ad1818;
    text-decoration: none;
}

.projects {
    margin-bottom: 90px;
}

.full-list {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    padding: 56px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #AD1818;
    margin-bottom: 150px;
}

.full-list:hover {
    background: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.section {
    width: 100%;
    height: 1844px;
    margin: auto;
    background-color: #121212;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services_1 {
    color: #ffffff;
    width: 1150px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24.59px;
    margin-bottom: 34px;
}

.offers {
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.offers_foto {
    margin-bottom: 15px;
}

.offers_description {
    color: #ffffff;
    font-size: 30px;
    line-height: 41px;
}

.offers_description:nth-last-child(1) {
    margin-bottom: 0px;
}

.nav-section {
    margin-bottom: 70px;
}

.nav-container {
    width: 1400px;
    margin: 0 auto;
    padding-top: 33px;
    padding-left: 125px;
    padding-right: 125px;
}

.logo-link {
    display: inline-block;
}

.logo {
    display: block;
    width: 127px;
    height: 21.42px;
    color: #121212;
}

.nav {
    display: inline-block;
    float: right;
    height: 25px;
}

.nav__link {
    display: inline-block;
    color: #121212;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    margin-right: 60px;


}

.nav__link:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.nav__link:nth-last-child(1) {
    margin-right: 0;
}
